* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #191919;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
}

/*Start Change scroll bar color*/
::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
    background: black; 
}
::-webkit-scrollbar-thumb {
    background: #FF416C;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #FF4B2B, #FF416C);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #FF4B2B, #FF416C); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
      
}
/*End Change scroll bar color*/

/* Loader show when network has an issue */
#loader { 
    background: url("./assets/images/preloader.gif") no-repeat center;
} 